---
permalink: "404.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Red Ciudadana</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

    <!-- features-area-start -->
    <div class="features-02-area pb-90 pt-50" style="background-color: #e2e6ec;">
        <div class="container">
            <div class="row">
                
                <div class="col-xl-10 col-lg-10 mx-auto" style="text-align: center;">
                    <img class="mx-auto" src="/ELEMENTOS/404-02.png">
                    <h1 class="text-titles">Oops!</h1>
                    <br>
                    <p style="color: #010001!important;">La página que buscas no se encuentra disponible. <br> Revisa el URL o vuelve a la pagina de inicio.</p>
                    <a class="btn" href="/index.html">Regresar al Inicio</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}