---
permalink: "/acceso_servicios/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Acceso a Servicios</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<style>
    #map {
        height: 500px; /* Puedes ajustar la altura según tus necesidades */
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}
    <div class="section m-0 py-6" style="background-image:url('/ELEMENTOS/ELEMENTOS MEJORAS_JA/SLIDER/JA-18.png');background-repeat: no-repeat;background-size: 100% 100%;">
        <div class="container">
            <div class="row my-6 py-6">
                <div class="col-lg-6 d-flex" style="align-items:center">
                    <div class="my-6" style="text-align:left">
                        <h3 class="text-white notranslate" style="font-size:40px; margin-bottom:5px">Mapa Interactivo de Acceso a Servicios de Justicia para Mujeres </h3>
                        <h3 class="text-white" style="font-size:24px;font-weight:400;line-height:32px">Encuentra los recursos y servicios de justicia que necesitas, en un solo lugar</h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="my-6" style="text-align:center">
                        <img style="padding:15px" src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/SLIDER/JA-17.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section m-0">
        <div class="container my-6">
            <div class="row">
                <div class="col-xl-12 my-4 text-center">
                    <h1>¿Qué es?</h1>
                    <p>
                        El <b>Mapa Interactivo de Acceso a Servicios de Justicia para Mujeres</b> es una herramienta digital diseñada para facilitar el acceso a información detallada sobre los recursos y servicios de justicia disponibles para mujeres y diversidades de género en Guatemala. Este mapa interactivo proporciona información actualizada sobre la ubicación, tipo de servicios ofrecidos, horarios de atención y datos de contacto de instituciones de justicia, refugios, centros de apoyo y otros recursos esenciales.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 ">
                    <img src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/ICONOS/EVENTOS-18.png">
                </div>

                <div class="col-lg-6 my-4 d-flex align-items-center">
                    <div>
                        <h3 class="text-left" style="color:#666!important">Metodología</h3>
                    
                        <p style="font-size:18px;line-height:22px;">
                            El desarrollo del Mapa Interactivo se basa en una metodología rigurosa que incluye:
                            <ul class="listv2">
                                <li><b>Recopilación de Datos:</b> Se obtienen datos geográficos y de servicios de diversas instituciones de justicia y organizaciones de apoyo. Esto incluye información sobre la ubicación, tipos de servicios, horarios de atención y datos de contacto.</li>
                                <li><b>Verificación de Información:</b>  Los datos recopilados son verificados y actualizados regularmente para asegurar su precisión y relevancia.</li>
                                <li><b>Desarrollo de la Plataforma:</b> Utilizando herramientas de Sistemas de Información Geográfica (GIS), se crea un mapa interactivo que es fácil de usar y accesible para todos los usuarios.</li>
                                <li><b>Colaboración Continua:</b> Se mantiene una colaboración constante con las instituciones y organizaciones para asegurar que la información del mapa se mantenga actualizada y relevante.</li>
                            </ul>
                        </p>
                    </div>
                
                </div>

                <div class="col-lg-6 my-4 d-flex align-items-center">
                    <div>
                        <h3 class="text-left" style="color:#666!important">¿Cómo funciona?</h3>
                    
                        <p style="font-size:18px;line-height:22px;">
                            El Mapa Interactivo de Acceso a Servicios de Justicia para Mujeres permite a los usuarios buscar y localizar rápidamente los servicios de justicia y apoyo disponibles en su área. La plataforma está diseñada para ser intuitiva y fácil de navegar, ofreciendo una experiencia de usuario fluida y eficiente.
                            <br>
                            Características principales:
                            <ul class="listv2">
                                <li><b>Búsqueda por Ubicación:</b> Los usuarios pueden buscar servicios ingresando su ubicación o permitiendo que la plataforma acceda a su ubicación actual.</li>
                                <li><b>Filtros Personalizables:</b>  Los usuarios pueden filtrar los resultados por tipo de servicio, como refugios, asesoría legal, centros de salud, y más.</li>
                                <li><b>Detalles de Servicios:</b> Cada punto en el mapa proporciona información detallada sobre los servicios disponibles, incluyendo horarios de atención y datos de contacto.</li>
                            </ul>
                        </p>
                    </div>
                
                </div>
                <div class="col-lg-6">
                    <img src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/ICONOS/EVENTOS-17.png">
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 my-4 text-center">
                    <p class="text-center">
                        Con el <b>Mapa Interactivo de Acceso a Servicios de Justicia para Mujeres</b>, encontrarás rápidamente los recursos que necesitas para obtener apoyo y justicia. Esta herramienta está diseñada para empoderar a las mujeres y diversidades de género, facilitando su acceso a la ayuda necesaria en momentos críticos.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 my-4">
                    <h3 class="mb-0">Mapa interactivo de Servicios</h3>                    
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 text-center">
                    <select id="tipo-institucion" class="form-control">
                        <option value="todos">Todos</option>
                        <option value="refugios">Refugios</option>
                        <option value="asesoría legal">Asesoría Legal</option>
                        <option value="fiscalía">Fiscalía</option>
                        <option value="defensoría">Defensoría</option>
                        <option value="defensa legal">Defensa Legal</option>
                        <option value="oficina de atención">Oficina de Atención</option>
                        <option value="centro integral">Centro Integral</option>
                        <option value="red de apoyo">Red de Apoyo</option>
                        <option value="derechos humanos">Derechos Humanos</option>
                        <option value="justicia integral">Justicia Integral</option>
                        <option value="atención psicológica">Atención Psicológica</option>
                        <option value="centro de investigación">Centro de Investigación</option>
                        <option value="clínica jurídica">Clínica Jurídica</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 my-4">
                    <div id="map"></div>
                </div>
                <div class="col-lg-12 my-4">
                    <h3 class="">Tabla de Servicios</h3>
                    <table class="tabla-acceso">
                        <tr>
                            <th></th>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Url</th>
                        </tr>
                        <tr>
                            <td><img style="width: 20px;" src="/ELEMENTOS/institucion.png"></td>
                            <td>Casa Alianza Guatemala</td>
                            <td>Refugio</td>
                            <td><a href="https://casa-alianza.org.gt/">Casa Alianza</a></td>
                        </tr>
                        <tr>
                            <td><img style="width: 20px;" src="/ELEMENTOS/institucion.png"></td>
                            <td>Fundación Sobrevivientes</td>
                            <td>Asesoría Legal</td>
                            <td><a href="https://sobrevivientes.org/">Fundación Sobrevivientes</a></td>
                        </tr>
                        <tr>
                            <td><img style="width: 20px;" src="/ELEMENTOS/institucion.png"></td>
                            <td>Asociación La Alianza</td>
                            <td>Refugio</td>
                            <td><a href="https://laalianza.org.gt/">La Alianza</a></td>
                        </tr>
                        <tr>
                            <td><img style="width: 20px;" src="/ELEMENTOS/institucion.png"></td>
                            <td>Ministerio Público - Fiscalía de la Mujer</td>
                            <td>Fiscalía</td>
                            <td><a href="https://redciudadana.org/">MP Guatemala</a></td>
                        </tr>
                        <tr>
                            <td><img style="width: 20px;" src="/ELEMENTOS/institucion.png"></td>
                            <td>Procuraduría de los Derechos Humanos (PDH)</td>
                            <td>Defensoría</td>
                            <td><a href="https://www.pdh.org.gt/">PDH Guatemala</a></td>
                        </tr>
                        <tr>
                            <td><img style="width: 20px;" src="/ELEMENTOS/institucion.png"></td>
                            <td>Instituto de la Defensa Pública Penal</td>
                            <td>Defensa Legal</td>
                            <td><a href="https://redciudadana.org/">IDPP</a</td>
                        </tr>
                        <tr>
                            <td><img style="width: 20px;" src="/ELEMENTOS/institucion.png"></td>
                            <td>Refugio de la Mujer - Guatemala City</td>
                            <td>Refugio</td>
                            <td><a href="https://redciudadana.org/">N/A</a></td>
                        </tr>
                        <tr>
                            <td><img style="width: 20px;" src="/ELEMENTOS/institucion.png"></td>
                            <td>Oficina de la Mujer - Municipalidad de Mixco</td>
                            <td>Oficina de Atención</td>
                            <td><a href="https://redciudadana.org/">Mixco</a></td>
                        </tr>
                        <tr>
                            <td><img style="width: 20px;" src="/ELEMENTOS/institucion.png"></td>
                            <td>Centro de Apoyo Integral para Mujeres (CAIMUS)</td>
                            <td>Centro Integral</td>
                            <td><a href="https://caimus.org.gt/">CAIMUS</a></td>
                        </tr>
                        <tr>
                            <td><img style="width: 20px;" src="/ELEMENTOS/institucion.png"></td>
                            <td>Mujeres Transformando el Mundo</td>
                            <td>ONG</td>
                            <td><a href="https://mujerestransformandoelmundo.org/">MTM</a></td>
                        </tr>
                        <tr>
                            <td><img style="width: 20px;" src="/ELEMENTOS/institucion.png"></td>
                            <td>Organización de Mujeres en Solidaridad (AMES)</td>
                            <td>ONG</td>
                            <td><a href="https://amesguatemala.org/">AMES</a></td>
                        </tr>
                        <tr>
                            <td><img style="width: 20px;" src="/ELEMENTOS/institucion.png"></td>
                            <td>Refugio La Rosa - Antigua Guatemala</td>
                            <td>Refugio</td>
                            <td><a href="https://redciudadana.org/">N/A</a></td>
                        </tr>
                        <tr>
                            <td><img style="width: 20px;" src="/ELEMENTOS/institucion.png"></td>
                            <td>Fundación Sobrevivientes - Quetzaltenango</td>
                            <td>Asesoría Legal</td>
                            <td><a href="https://sobrevivientes.org/">Fundación Sobrevivientes</a></td>
                        </tr>
                        <tr>
                            <td><img style="width: 20px;" src="/ELEMENTOS/institucion.png"></td>
                            <td>Mujeres Ixchel</td>
                            <td>ONG</td>
                            <td><a href="https://mujeresixchel.org.gt/">Mujeres Ixchel</a></td>
                        </tr>
                        <tr>
                            <td><img style="width: 20px;" src="/ELEMENTOS/institucion.png"></td>
                            <td>Casa María Amor</td>
                            <td>Refugio</td>
                            <td><a href="https://redciudadana.org/">N/A</a></td>
                        </tr>
                        <tr>
                            <td><img style="width: 20px;" src="/ELEMENTOS/institucion.png"></td>
                            <td>Centro de Atención Psicológica - USAC</td>
                            <td>Atención Psicológica</td>
                            <td><a href="https://redciudadana.org/">USAC</a></td>
                        </tr>
                        <tr>
                            <td><img style="width: 20px;" src="/ELEMENTOS/institucion.png"></td>
                            <td>Red de Derivación - Chiquimula</td>
                            <td>Red de Apoyo</td>
                            <td><a href="https://redciudadana.org/">N/A</a></td>
                        </tr>
                        <tr>
                            <td><img style="width: 20px;" src="/ELEMENTOS/institucion.png"></td>
                            <td>Asociación Coincidir</td>
                            <td>ONG</td>
                            <td><a href="https://coincidir.org.gt/">Coincidir</a></td>
                        </tr>
                        <tr>
                            <td><img style="width: 20px;" src="/ELEMENTOS/institucion.png"></td>
                            <td>Centro de Estudios de Género - UVG</td>
                            <td>Centro de Investigación</td>
                            <td><a href="https://www.uvg.edu.gt/">UVG</a></td>
                        </tr>
                        <tr>
                            <td><img style="width: 20px;" src="/ELEMENTOS/institucion.png"></td>
                            <td>Clínica Jurídica de la Universidad Rafael Landívar</td>
                            <td>Clínica Jurídica</td>
                            <td><a href="https://principal.url.edu.gt/">URL</a></td>
                        </tr>
                        <tr>
                            <td><img style="width: 20px;" src="/ELEMENTOS/institucion.png"></td>
                            <td>Refugio Seguro - Cobán</td>
                            <td>Refugio</td>
                            <td><a href="https://redciudadana.org/">N/A</a></td>
                        </tr>
                        <tr>
                            <td><img style="width: 20px;" src="/ELEMENTOS/institucion.png"></td>
                            <td>Mujeres en Acción - Escuintla</td>
                            <td>ONG</td>
                            <td><a href="https://mujeresenaccion.org/lander">Mujeres en Acción</a></td>
                        </tr>
                        <tr>
                            <td><img style="width: 20px;" src="/ELEMENTOS/institucion.png"></td>
                            <td>Fundación Guatemala</td>
                            <td>ONG</td>
                            <td><a href="https://fundacionguatemala.org/">Fundación Guatemala</a></td>
                        </tr>
                        <tr>
                            <td><img style="width: 20px;" src="/ELEMENTOS/institucion.png"></td>
                            <td>Proyecto Mujer</td>
                            <td>ONG</td>
                            <td><a href="https://proyectomujer.org.gt/">Proyecto Mujer</a></td>
                        </tr>
                        <tr>
                            <td><img style="width: 20px;" src="/ELEMENTOS/institucion.png"></td>
                            <td>Red Nacional de Mujeres</td>
                            <td>Red de Apoyo</td>
                            <td><a href="https://rednacionaldemujeres.org/">Red de Mujeres</a></td>
                        </tr>
                        <tr>
                            <td><img style="width: 20px;" src="/ELEMENTOS/institucion.png"></td>
                            <td>Centro de Derechos de Mujeres</td>
                            <td>Derechos Humanos</td>
                            <td><a href="https://centrodederechos.org/">Centro de Derechos</a></td>
                        </tr>
                        <tr>
                            <td><img style="width: 20px;" src="/ELEMENTOS/institucion.png"></td>
                            <td>Alianza de Mujeres Indígenas</td>
                            <td>ONG</td>
                            <td><a href="https://alianzadeindigenas.org/">Alianza Indígenas</a></td>
                        </tr>
                        <tr>
                            <td><img style="width: 20px;" src="/ELEMENTOS/institucion.png"></td>
                            <td>Mujeres Ixchel - Quetzaltenango</td>
                            <td>ONG</td>
                            <td><a href="https://mujeresixchel.org.gt/">Mujeres Ixchel</a></td>
                        </tr>
                        <tr>
                            <td><img style="width: 20px;" src="/ELEMENTOS/institucion.png"></td>
                            <td>Defensa de la Mujer Indígena (DEMI)</td>
                            <td>Defensa Legal</td>
                            <td><a href="https://redciudadana.org/">DEMI</a></td>
                        </tr>
                        <tr>
                            <td><img style="width: 20px;" src="/ELEMENTOS/institucion.png"></td>
                            <td>Centro de Justicia para Mujeres</td>
                            <td>Justicia Integral</td>
                            <td><a href="https://centrojusticia.org/">Centro de Justicia</a></td>
                        </tr>
                    </table>                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascripts %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="/js/mapa.js"></script>
{% endblock %}
