---
permalink: "/analisis_de_sentencias/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Análisis de Sentencias con Perspectiva de Género</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}
    <div class="section m-0 py-6" style="background-image:url('/ELEMENTOS/ELEMENTOS MEJORAS_JA/SLIDER/JA-18.png');background-repeat: no-repeat;background-size: 100% 100%;">
        <div class="container">
            <div class="row my-6 py-6">
                <div class="col-lg-6 d-flex" style="align-items:center">
                    <div class="my-6" style="text-align:left">
                        <h3 class="text-white notranslate" style="font-size:40px; margin-bottom:5px">Plataforma de Análisis de Sentencias con Perspectiva de Género</h3>
                        <h3 class="text-white" style="font-size:24px;font-weight:400;line-height:32px">Transformando la justicia en Guatemala a través del análisis avanzado de sentencias judiciales</h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="my-6" style="text-align:center">
                        <img style="padding:15px" src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/SLIDER/JA-17.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Seccion -->
    <div class="section m-0" style="background-color:#f1f5fd">
        <div class="container py-6">
            <div class="row ">

                <div class="col-lg-6 my-4 d-flex align-items-center" id="masinfo">
                    <div>
                        <h3 class="text-left" style="color:#666!important" >¿Qué es?</h3>
                    
                        <p style="font-size:18px;line-height:22px;">
                            La <b>Plataforma de Análisis de Sentencias con Perspectiva de Género</b> es una herramienta digital innovadora que utiliza tecnologías avanzadas de Procesamiento de Lenguaje Natural (PLN) para analizar las sentencias judiciales emitidas en Guatemala. Esta plataforma identifica patrones y sesgos de género en las decisiones judiciales, promoviendo una mayor equidad y sensibilización en el sistema de justicia.
                        </p>
                    </div>
                
                </div>
                
                <div class="col-lg-6">
                    <img src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/ICONOS/EVENTOS-17.png">
                </div>
            </div>
            <div class="row">

                <div class="col-lg-6 order-first">
                    <img src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/ICONOS/EVENTOS-18.png">
                </div>

                <div class="col-lg-6 my-4 d-flex align-items-center">
                    <div>
                        <h3 class="text-left" style="color:#666!important">Metodología</h3>
                    
                        <p style="font-size:18px;line-height:22px;">
                            La implementación de esta plataforma sigue una metodología detallada que incluye:
                            <ul class="listv2">
                                <li><b>Recopilación de Sentencias:</b> Se obtienen sentencias judiciales de diversas fuentes, incluyendo tribunales y bases de datos públicas.</li>
                                <li><b>Digitalización y Normalización:</b> Las sentencias se convierten a formatos digitales uniformes y estructurados para facilitar su análisis.</li>
                                <li><b>Desarrollo de Herramientas de PLN:</b> Se crean y adaptan algoritmos de Procesamiento de Lenguaje Natural para analizar el lenguaje y los patrones de género en las sentencias.</li>
                                <li><b>Análisis de Datos:</b> Los algoritmos identifican términos y patrones relacionados con la perspectiva de género, proporcionando insights detallados sobre las tendencias en las decisiones judiciales.</li>
                                <li><b>Creación de Informes:</b> Los resultados del análisis se presentan en informes detallados que destacan las áreas de mejora y las buenas prácticas en la administración de justicia con enfoque de género.</li>
                            </ul>
                        </p>
                    </div>
                
                </div>

                
                <div class="col-lg-6 my-4 d-flex align-items-center">
                    <div>
                        <h3 class="text-left" style="color:#666!important">¿Cómo funciona?</h3>
                    
                        <p style="font-size:18px;line-height:22px;">
                            La plataforma funciona de manera intuitiva y eficiente, permitiendo a los usuarios acceder y analizar sentencias judiciales con facilidad:
                            <ul class="listv2">
                                <li><b>Carga de Sentencias:</b> Las sentencias se suben a la plataforma en formatos digitales compatibles.</li>
                                <li><b>Procesamiento de Lenguaje Natural (PLN):</b>  Los algoritmos de PLN analizan el contenido de las sentencias para identificar términos y patrones específicos relacionados con el género.</li>
                                <li><b>Generación de Informes:</b>  La plataforma genera informes detallados que muestran los resultados del análisis, resaltando sesgos y patrones de género en las sentencias.</li>
                                <li><b>Interfaz de Usuario:</b>  Los usuarios pueden acceder a los informes y realizar búsquedas específicas a través de una interfaz amigable y fácil de usar.</li>
                            </ul>
                        </p>
                    </div>
                
                </div>

                <div class="col-lg-6">
                    <img src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/ICONOS/EVENTOS-17.png">
                </div>               
                
                <div class="col-lg-12 my-4 d-flex align-items-center" id="masinfo">
                    <div>
                        <p style="font-size:18px;line-height:22px;text-align: center;">
                            Con la <b>Plataforma de Análisis de Sentencias con Perspectiva de Género</b>, transformamos el acceso a la justicia en Guatemala, asegurando que las decisiones judiciales reflejen un compromiso con la igualdad de género y los derechos humanos. Esta herramienta no solo mejora la transparencia y la rendición de cuentas en el sistema judicial, sino que también empodera a los operadores de justicia, académicos y activistas para trabajar hacia una sociedad más justa y equitativa.
                        </p>
                    </div>
                
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 my-4">
                    <img src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/ICONOS/EVENTOS-19.png">
                </div>

                <div class="col-lg-6 my-4 d-flex align-items-center">
                    <div>
                        <h3 class="text-left" style="color:#666!important">Sube tu documento</h3>

                        <div class="row">
                            <div class="col-lg-12 my-4">
                                <!-- <a class="btn my-2" href="#masinfo" style="margin-right: 10px;">Más Información <i class="fa-solid fa-down-long"></i></a> -->

                                <a class="btn my-2" href="/analisis_page/index.html">Analiza tu Archivo <i class="fa-solid fa-upload"></i></a>
                            </div>
                        </div>
     
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascripts %}

{% endblock %}
