---
permalink: "/analisis_page/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Análisis de Sentencias con Perspectiva de Género</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.7.570/pdf.min.js"></script>
{% endblock %}

{% block content %}
<div class="section m-0 py-6" style="background-image:url('/ELEMENTOS/ELEMENTOS MEJORAS_JA/SLIDER/JA-18.png');background-repeat: no-repeat;background-size: 100% 100%;">
    <div class="container">
        <div class="row my-6 py-6">
            <div class="col-lg-6 d-flex" style="align-items:center">
                <div class="my-6" style="text-align:left">
                    <h3 class="text-white notranslate" style="font-size:40px; margin-bottom:5px">Análisis de Sentencias con Perspectiva de Género</h3>
                    <h3 class="text-white" style="font-size:28px;font-weight:400;line-height:32px">Plataforma digital utiliza tecnologías avanzadas de Procesamiento de Lenguaje Natural (PLN) para analizar sentencias judiciales emitidas en Guatemala.</h3>
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <div class="my-6" style="text-align:center">
                    <img style="padding:15px" src="/ELEMENTOS/SLIDER/JA-19.png">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sección -->
<div class="section m-0" style="background-color:#d9dde0">
    <div class="container py-6">
        <div class="row">
            <div class="col-lg-12 my-4">
                <h2 class="text-left">Sube tu archivo para análisis</h2>
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <img src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/ICONOS/EVENTOS-17.png">
            </div>
            <div class="col-lg-6 my-4 d-flex align-items-center">
                <div>
                    <h3 class="text-left" style="color:#333!important">Sube tu Información acá</h3>
                    <form id="uploadForm">
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Selecciona tu archivo</label>
                            <input class="form-control" type="file" id="formFile">
                        </div>
                        <button type="button" class="btn btn-primary" onclick="showLoader()">Analiza tu Archivo <i class="fa-solid fa-upload"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="loader" style="display:none; text-align:center;">
    <img src="/ELEMENTOS/loader.gif" alt="Cargando...">
    <p>Cargando, por favor espera...</p>
</div>

<div class=" m-0" style="background-color: #fff;"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div id="result1" ></div>
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <div id="result2" class="text-center"></div>
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <div id="result3" class="text-center"></div>
            </div>
        </div>
    </div>
</div>

<div class=" m-0" style="background-color: #d9dde0;"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <div id="result4" class="text-center"></div>
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <div id="result5" class="text-center"></div>
            </div>
        </div>
    </div>
</div>

<div class=" m-0" style="background-color: #fff;"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <div id="result6" class="text-center"></div>
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <div id="result7" class="text-center"></div>
            </div>
        </div>
    </div>
</div>

<div class=" m-0" style="background-color: #d9dde0;"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <div id="result8" class="text-center"></div>
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <div id="result9" class="text-center"></div>
            </div>
        </div>
    </div>
</div>

<div class=" m-0" style="background-color: #fff;"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <div id="result10" class="text-center"></div>
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <div id="result11" class="text-center"></div>
            </div>
        </div>
    </div>
</div>

<div class=" m-0" style="background-color: #d9dde0;"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <div id="result12" class="text-center"></div>
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <div id="result13" class="text-center"></div>
            </div>
        </div>
    </div>
</div>

<div class=" m-0" style="background-color: #fff;"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <div id="result14" class="text-center"></div>
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <div id="result15" class="text-center"></div>
            </div>
        </div>
    </div>
</div>

<div class=" m-0" style="background-color: #d9dde0;"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <div id="result16" class="text-center"></div>
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <div id="result17" class="text-center"></div>
            </div>
        </div>
    </div>
</div>

<div class=" m-0" style="background-color: #fff;"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <div id="result18" class="text-center"></div>
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <div id="result19" class="text-center"></div>
            </div>
        </div>
    </div>
</div>

<div class=" m-0" style="background-color: #d9dde0;"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <div id="result20" class="text-center"></div>
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <div id="result21" class="text-center"></div>
            </div>
        </div>
    </div>
</div>

<div class=" m-0" style="background-color: #fff;"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <div id="result22" class="text-center"></div>
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <div id="result23" class="text-center"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_javascripts %}
<script>
    function showLoader() {
        document.getElementById('uploadForm').style.display = 'none';
        document.getElementById('loader').style.display = 'block';
        
        setTimeout(function() {
            analyzePDF();
        }, 3000);
    }

    async function analyzePDF() {
        const fileInput = document.getElementById('formFile');
        const file = fileInput.files[0];
        if (!file) {
            alert('Por favor selecciona un archivo');
            return;
        }

        const fileName = file.name;
        document.getElementById('loader').style.display = 'none';

        const reader = new FileReader();
        reader.onload = function() {
            const typedarray = new Uint8Array(this.result);

            pdfjsLib.getDocument({data: typedarray}).promise.then(async function(pdf) {
                let textContent = '';
                for (let i = 1; i <= pdf.numPages; i++) {
                    const page = await pdf.getPage(i);
                    const text = await page.getTextContent();
                    text.items.forEach(item => {
                        textContent += item.str + ' ';
                    });
                }

                // Extraer información usando expresiones regulares
                const expedienteRegex = /Expediente([\s\S]*?)\s\s\s/i;
                const actoReclamadoRegex = /B\)\s+Acto\s+reclamado:\s*([^.]*)/i;
                const corteRegex = /Corte\s+([^.,]*)/i;
                const fechaRegex = /Guatemala,\s+((?:uno|dos|tres|cuatro|cinco|seis|siete|ocho|nueve|diez|once|doce|trece|catorce|quince|dieciséis|diecisiete|dieciocho|diecinueve|veinte|veintiuno|veintidós|veintitrés|veinticuatro|veinticinco|veintiséis|veintisiete|veintiocho|veintinueve|treinta|treinta y uno)\s+de\s+(?:enero|febrero|marzo|abril|mayo|junio|julio|agosto|septiembre|octubre|noviembre|diciembre)\s+de\s+(?:mil\s+novecientos\s+|dos\s+mil\s+)?(?:ochenta|noventa|cero|diez|veinte)?(?:[a-z]+))\./i;
                const considerando1Regex = /- I -*([\s\S]*?)\s*- II -/i;
                const considerando2Regex = /- II -*([\s\S]*?)\s*- III -/i;
                const considerando3Regex = /- III -*([\s\S]*?)\sLEYES APLICABLES*/i;
                const leyesRegex = /LEYES APLICABLES([\s\S]*?)POR TANTO/i;
                const porTantoRegex = /POR TANTO\s*([\s\S]*?)(?=\.\s\s\s|$)/i;

                const expediente = textContent.match(expedienteRegex);
                const actoReclamado = textContent.match(actoReclamadoRegex);
                const corte = textContent.match(corteRegex);
                const fecha = textContent.match(fechaRegex);
                const considerando1 = textContent.match(considerando1Regex);
                const considerando2 = textContent.match(considerando2Regex);
                const considerando3 = textContent.match(considerando3Regex);
                const leyes = textContent.match(leyesRegex);
                let porTanto = null;
                if (leyes) {
                    const porTantoSection = textContent.substring(textContent.indexOf(leyes[0]));
                    porTanto = porTantoSection.match(porTantoRegex);
                }

                let resultHTML1 = '<h4>Análisis de Sentencia desde la Perspectiva de Género</h4><br><br>';
                let resultHTML2 = '';
                let resultHTML3 = '';
                let resultHTML4 = '';
                let resultHTML5 = '';
                let resultHTML6 = '';
                let resultHTML7 = '';
                let resultHTML8 = '';
                let resultHTML9 = '';
                let resultHTML10 = '';
                let resultHTML11 = '';
                let resultHTML12 = '';
                let resultHTML13 = '';
                let resultHTML14 = '';
                let resultHTML15 = '';
                let resultHTML16 = '';
                let resultHTML17 = '';
                let resultHTML18 = '';
                let resultHTML19 = '';
                let resultHTML20 = '';
                let resultHTML21 = '';
                let resultHTML22 = '';
                let resultHTML23 = '';

                if (corte) {
                    resultHTML2 += `<p><strong style="font-size:25px">1. Análisis de los Hechos</strong></p>`;
                    resultHTML2 += `<p>El documento corresponde a la siguiente institución:  CORTE ${corte[1].trim()}</p>`;
                    resultHTML2 += '<img src="/ELEMENTOS/ANALISIS/JA-20.png" class="img-cc">';
                    resultHTML3 += `El principal objetivo es determinar si una decisión jurisdiccional ha incorporado la perspectiva de género y en qué medida. Se busca asegurar la protección de los derechos de mujeres, niñas y adolescentes y promover la igualdad en el acceso a la justicia.`
                } else {
                    resultHTML2 += `1. Institución:</strong> No encontrada</p>`;
                }

                if (expediente) {
                    resultHTML4 += `<p><strong>El documento analizado cuenta con el siguiente número de expediente es:</strong> <br><br>  ${expediente[0]}</p>`;
                    resultHTML5 += `<img src="/ELEMENTOS/ANALISIS/JA-21.png" class="img-cc">`;
                } else {
                    resultHTML4 += `<p><strong>El documento analizado cuenta con el siguiente número de expediente es:</strong> No encontrado</p>`;
                    resultHTML5 += `<img src="/ELEMENTOS/ANALISIS/JA-21.png" class="img-cc">`;
                }

                if (fecha) {
                    resultHTML7 += `<p><strong>Fecha:</strong> <br><br> El documento analizo que la fecha de resolucion es: <br><br> Guatemala, ${fecha[1].trim()}.</p>`;
                    resultHTML6 += `<img src="/ELEMENTOS/ANALISIS/JA-22.png" class="img-cc">`;
                } else {
                    resultHTML7 += `<p><strong>Fecha:</strong> No encontrada</p>`;
                    resultHTML6 += `<img src="/ELEMENTOS/ANALISIS/JA-22.png" class="img-cc">`;
                }

                if (actoReclamado) {
                    resultHTML8 += `<p><strong  style="font-size:25px">2. Valoración de Situación de Riesgo:</strong> <br><br> El documento analizo que el acto reclamado es: <br><br> ${actoReclamado[1].trim()}</p>`;
                    resultHTML9 += `<img src="/ELEMENTOS/ANALISIS/JA-23.png" class="img-cc">`;
                } else {
                    resultHTML8 += `<p><strong  style="font-size:25px">2. Valoración de Situación de Riesgo:</strong> No encontrado</p>`;
                    resultHTML9 += `<img src="/ELEMENTOS/ANALISIS/JA-23.png" class="img-cc">`;
                }

                if (considerando1) {
                    resultHTML11 += `<p><strong>Considerando I:</strong> <br><br>  ${considerando1[1].trim()}.</p>`;
                    resultHTML10 += `<div><p><strong style="font-size:25px">3. Recopilación y Valoración de las Pruebas:</strong></p><img src="/ELEMENTOS/ANALISIS/JA-24.png" class="img-cc"></div>`;
                } else {
                    resultHTML11 += `<p><strong>Considerando I:</strong> No encontrado</p>`;
                    resultHTML10 += `<div><p><strong  style="font-size:25px">3. Recopilación y Valoración de las Pruebas:</strong></p><img src="/ELEMENTOS/ANALISIS/JA-24.png" class="img-cc"></div>`;
                }
                
                if (considerando2) {
                    resultHTML12 += `<p><strong>Considerando II:</strong> <br><br> ${considerando2[1].trim()}.</p>`;
                    resultHTML13 += `<img src="/ELEMENTOS/ANALISIS/JA-25.png" class="img-cc">`;
                } else {
                    resultHTML12 += `<p><strong>Considerando II:</strong> No encontrado</p>`;
                    resultHTML13 += `<img src="/ELEMENTOS/ANALISIS/JA-25.png" class="img-cc">`;
                }
                
                if (considerando3) {
                    resultHTML15 += `<p><strong>Considerando III:</strong> <br><br> ${considerando3[1].trim()}.</p>`;
                    resultHTML14 += `<img src="/ELEMENTOS/ANALISIS/JA-25.png" class="img-cc">`;
                } else {
                    resultHTML15 += `<p><strong>Considerando III:</strong> No encontrado</p>`;
                    resultHTML14 += `<img src="/ELEMENTOS/ANALISIS/JA-25.png" class="img-cc">`;
                }

                if (leyes) {
                    resultHTML16 += `<p><strong  style="font-size:25px">4. Determinación del Derecho Aplicable:</strong> <br><br> Leyes Aplicables: <br><br> ${leyes[1].trim()}</p>`;
                    resultHTML17 += `<img src="/ELEMENTOS/ANALISIS/JA-26.png" class="img-cc">`;
                } else {
                    resultHTML16 += `<p><strong  style="font-size:25px">4. Determinación del Derecho Aplicable:</strong> No encontrado</p>`;
                    resultHTML17 += `<img src="/ELEMENTOS/ANALISIS/JA-26.png" class="img-cc">`;
                }

                if (porTanto) {
                    resultHTML19 += `<p><strong>Resolución:</strong> <br><br> ${porTanto[1].trim()}</p>`;
                    resultHTML18 += `<div><p><strong style="font-size:25px">5. Argumentación Resolutoria:</strong></p><img src="/ELEMENTOS/ANALISIS/JA-21.png" class="img-cc"></div>`;
                } else {
                    resultHTML19 += `<p><strong>Resolución:</strong> No encontrado</p>`;
                    resultHTML18 += `<div><p><strong style="font-size:25px">5. Argumentación Resolutoria:</strong></p><img src="/ELEMENTOS/ANALISIS/JA-21.png" class="img-cc"></div>`;
                }

                if (corte) {
                    resultHTML20 += `<p><strong style="font-size:25px">6. Conclusión del Análisis</strong></p>`;
                    resultHTML20 += `<img src="/ELEMENTOS/ANALISIS/JA-24.png" class="img-cc">`;
                    resultHTML20 += `<p>La sentencia no incorpora adecuadamente la perspectiva de género en varios aspectos clave:		</p>`;
                    resultHTML21 += '<p><strong> • Análisis de Hechos y Contexto:</strong> No se evalúa el contexto de género y las posibles discriminaciones implícitas.</p>';
                    resultHTML21 += '<p><strong> • Valoración de Pruebas:</strong> No se consideran pruebas que reflejen el impacto de género.</p>';
                    resultHTML21 += '<p><strong> • Derecho Aplicable:</strong> No se cuestiona la neutralidad de la normativa aplicada desde una perspectiva de género.</p>';
                    resultHTML21 += '<p><strong> • Medidas de Reparación:</strong> No se proponen medidas que promuevan la igualdad de género.</p>';

                    resultHTML22 += `<p><strong style="font-size:25px">7.  Recomendaciones:</strong></p>`;
                    resultHTML22 += `<img src="/ELEMENTOS/ANALISIS/JA-27.png" class="img-cc">`;
                    resultHTML23 += '<p>Para mejorar la inclusión de la perspectiva de género, es fundamental:</p>';
                    resultHTML23 += '<p><strong> • Evaluar el impacto de género</strong> en las decisiones administrativas.</p>';
                    resultHTML23 += '<p><strong> • Incorporar pruebas contextuales</strong> que reflejen posibles discriminaciones de género.</p>';
                    resultHTML23 += '<p><strong> • Ponderar derechos</strong> considerando la igualdad de género.</p>';
                    resultHTML23 += '<p><strong> • Dictar medidas de reparación</strong> que promuevan la igualdad y compensen las desventajas de género.</p>';
                } 

                document.getElementById('result1').innerHTML = resultHTML1;
                document.getElementById('result1').classList.add('my-6');
                document.getElementById('result2').innerHTML = resultHTML2;
                document.getElementById('result2').classList.add('my-6');
                document.getElementById('result3').innerHTML = resultHTML3;
                document.getElementById('result3').classList.add('my-6');
                document.getElementById('result4').innerHTML = resultHTML4;
                document.getElementById('result4').classList.add('my-6');
                document.getElementById('result5').innerHTML = resultHTML5;
                document.getElementById('result5').classList.add('my-6');
                document.getElementById('result6').innerHTML = resultHTML6;
                document.getElementById('result6').classList.add('my-6');
                document.getElementById('result7').innerHTML = resultHTML7;
                document.getElementById('result7').classList.add('my-6');
                document.getElementById('result8').innerHTML = resultHTML8;
                document.getElementById('result8').classList.add('my-6');
                document.getElementById('result9').innerHTML = resultHTML9;
                document.getElementById('result9').classList.add('my-6');
                document.getElementById('result10').innerHTML = resultHTML10;
                document.getElementById('result10').classList.add('my-6');
                document.getElementById('result11').innerHTML = resultHTML11;
                document.getElementById('result11').classList.add('my-6');
                document.getElementById('result12').innerHTML = resultHTML12;
                document.getElementById('result12').classList.add('my-6');
                document.getElementById('result13').innerHTML = resultHTML13;
                document.getElementById('result13').classList.add('my-6');
                document.getElementById('result14').innerHTML = resultHTML14;
                document.getElementById('result14').classList.add('my-6');
                document.getElementById('result15').innerHTML = resultHTML15;
                document.getElementById('result15').classList.add('my-6');
                document.getElementById('result16').innerHTML = resultHTML16;
                document.getElementById('result16').classList.add('my-6');
                document.getElementById('result17').innerHTML = resultHTML17;
                document.getElementById('result17').classList.add('my-6');
                document.getElementById('result18').innerHTML = resultHTML18;
                document.getElementById('result18').classList.add('my-6');
                document.getElementById('result19').innerHTML = resultHTML19;
                document.getElementById('result19').classList.add('my-6');
                document.getElementById('result20').innerHTML = resultHTML20;
                document.getElementById('result20').classList.add('my-6');
                document.getElementById('result21').innerHTML = resultHTML21;
                document.getElementById('result21').classList.add('my-6');
                document.getElementById('result22').innerHTML = resultHTML22;
                document.getElementById('result22').classList.add('my-6');
                document.getElementById('result23').innerHTML = resultHTML23;
                document.getElementById('result23').classList.add('my-6');

            }).catch(function(error) {
                console.error('Error al analizar el archivo:', error);
                document.getElementById('result1').innerHTML = '<h4>Error al analizar el archivo</h4>';
                document.getElementById('result2').innerHTML = '';
                document.getElementById('result3').innerHTML = '';
                document.getElementById('result4').innerHTML = '';
                document.getElementById('result5').innerHTML = '';
                document.getElementById('result6').innerHTML = '';
                document.getElementById('result7').innerHTML = '';
                document.getElementById('result8').innerHTML = '';
                document.getElementById('result9').innerHTML = '';
                document.getElementById('result10').innerHTML = '';
                document.getElementById('result11').innerHTML = '';
                document.getElementById('result12').innerHTML = '';
                document.getElementById('result13').innerHTML = '';
                document.getElementById('result14').innerHTML = '';
                document.getElementById('result15').innerHTML = '';
                document.getElementById('result16').innerHTML = '';
                document.getElementById('result17').innerHTML = '';
                document.getElementById('result18').innerHTML = '';
                document.getElementById('result19').innerHTML = '';
                document.getElementById('result20').innerHTML = '';
                document.getElementById('result21').innerHTML = '';
                document.getElementById('result22').innerHTML = '';
                document.getElementById('result23').innerHTML = '';
            });
        };

        reader.readAsArrayBuffer(file);
    }
</script>
{% endblock %}

