---
permalink: contacto/index.html
---
{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Contacto</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

    <!--SLIDER-->  
    <!--div class="w-100" style="background-color: #016be3">
      <div class="container py-5" style="padding-bottom: 0.2rem!important;">
        <div class="row mx-auto" style="justify-content:center;display: block!important;margin: 2rem 0;">
          <div class="img-circular">
            <img  src="/ELEMENTOS/NUEVOS ELEMENTOS/JA-04.png">  
          </div>
          <h1 style="color: #fff!important;text-align: center;">Contáctanos</h1>
        </div>
      </div>
    </div-->  
     
    <!-- contact-address-area-strat -->
    <div class="container pt-130 pb-130">
      <div class="row">
        <div class="col-lg-6 col-xl-6 col-sm-12 col-md-12 mb-40">
          <h1 style="font-size:30px;" class="mb-20">Para más información de eventos, dudas o de nuestro trabajo</h1>
          <p class="mb-20">Llena el siguiente formulario y nuestro equipo te estará contactando</p>
          <h6 class="mb-20 text-left">Síguenos a través de nuestras redes sociales</h6>
          <div class="row">
            <div class="col-lg-12 col-sm-12 p-0" style="padding-left:10px!important">
                <a target="_blank" href="https://www.facebook.com/Redciudadanagt"><img width="55px" height="55px" src="/ELEMENTOS/fb-body.png"></a>
                <a target="_blank" href="https://twitter.com/redxguate"><img width="55px" height="55px" src="/ELEMENTOS/x-body.png"></a>
                <a target="_blank" href="https://www.instagram.com/redxguate/"><img width="55px" height="55px" src="/ELEMENTOS/ig-body.png"></a>
                <a target="_blank" href="https://www.tiktok.com/@redxguate"><img width="55px" height="55px" src="/ELEMENTOS/tk-body.png"></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-6 col-sm-12 col-md-12">
          <form class="contact_form" id="form" target="_self" onsubmit="return postToForm();" action="" autocomplete="off">
            <input id="name" name="entry.1064235632" type="string" required placeholder="Nombre Completo"/>
            <input id="email" name="entry.1330832081" type="email" required placeholder="Correo Electrónico"/>
            <input id="affair" name="entry.1233483376" type="string" placeholder="Asunto / Motivo de Contacto"/>
            <textarea id="message" name="entry.608682247" type="string" required placeholder="Mensaje"></textarea>
            <button id="send" type="submit" class="btn">Envíanos un Mensaje</button>
          </form>

          <h3 id="success-msg" style="display:none;"> Su mensaje ha sido enviado</h3>
        </div>
      </div>
    </div>

{% endblock %}

{% block body_javascripts %}
    <script>
        function postToForm() {
            var field1 = $("#name").val();
            var field2 = $("#email").val();
            var field3 = $("#affair").val();
            var field4 = $("#message").val();

            $.ajax({
                url: "https://docs.google.com/forms/d/e/1FAIpQLSe2DNIWZVQugZ_G-rQCzO9EKpWr66ZXe8rbBBHtKYduKIeXyQ/formResponse?",
      data: {"entry.1064235632": field1, "entry.1330832081": field2, "entry.1233483376": field3, "entry.608682247": field4},
                type: "POST",
                dataType: "xml",
                success: function(d)
      {
      },
      error: function(x, y, z)
        {

          $('#success-msg').show();
          $('#form').hide();
          
        }
            });
    return false;
        }
    </script>

{% endblock %}