---
permalink: "eventosinnovacion/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Índice</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

    <!--SLIDER-->  

    <div class="section m-0 py-6" style="background-image:url('/ELEMENTOS/ELEMENTOS MEJORAS_JA/SLIDER/JA-18.png');background-repeat: no-repeat;background-size: 100% 100%;">
        <div class="container my-6">
            <div class="row my-6 py-6">
                <div class="col-lg-12 my-6">

                    <div class="my-6 py-6" style="text-align:center">
                        <img style="padding:25px" src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/ICONOS/edi.png">
                        <h3 class="text-white" style="font-size:35px">Eventos de Innovación – Sector Justicia</h3>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--CONTENIDO-->

     <!-- que es de un evento de innovacion-->
    <div class="section m-0">
        <div class="container py-6">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-7">

                    <div>
                        <h3 class="text-center">Eventos de Innovación – Sector Justicia</h3>
                        <p style="font-size:18px;line-height:22px;text-align:center">
                            Durante los eventos de innovación en el sector justicia, se presentaron diversas propuestas para abordar desafíos específicos y promover mejoras significativas.
                        </p>
                        <p style="font-size:18px;line-height:22px;text-align:center">
                            A continuación, se describe brevemente cada evento y las propuestas ganadoras de la primera edición:
                        </p>
                    </div>

                </div>

                <!--div class="col-lg-6">

                    <div style="text-align:center">
                        <img src="/ELEMENTOS/08_GRAFICAS/JA_GRAFICA.png">
                    </div>

                </div-->
            </div>
        </div>
    </div>

    <!-- Eventos-->
    <div class="section m-0" style="background-color:#f1f5fd">
        <div class="container py-6">
            <div class="row ">
            
                <div class="col-lg-12">
                    <h2 class="text-left">Eventos</h2>
                </div>
                
                <div class="col-lg-6">
                    <img src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/ICONOS/EVENTOS-17.png">
                </div>

                <div class="col-lg-6 d-flex align-items-center">
                    <div>
                        <h3 class="text-left" style="color:#666!important">Maratón de Soluciones</h3>
                    
                        <p style="font-size:18px;line-height:22px;">
                            <b style="font-size:21px">1. Datos y Género</b><br><br>

                            En este evento, se buscó promover el uso de datos para abordar problemas relacionados con la igualdad de género y la violencia de género. Entre las propuestas ganadoras se encuentra una plataforma de monitoreo de violencia de género, una aplicación móvil para prevenir el acoso callejero y un chatbot de asesoría legal en temas de género.

                        </p>
                        <br>
                        <p style="font-size:18px;line-height:22px;">
                            <b style="font-size:21px">2. Mejora de Servicios Públicos</b><br><br>

                            Este evento se enfocó en encontrar soluciones innovadoras para mejorar los servicios públicos. Entre las propuestas ganadoras se destacan una plataforma de gestión de quejas y sugerencias ciudadanas, una aplicación móvil para acceder a información de servicios públicos y un sistema de pago electrónico para agilizar los pagos de servicios.
                        </p>
                    </div>
                </div>

                <div class="col-lg-6 d-flex align-items-center">
                    <div>
                        <h3 class="text-left" style="color:#666!important">Comunicathon – Lenguaje Claro</h3>
                    
                        <p style="font-size:18px;line-height:22px;">
                            En este evento, se puso énfasis en el uso de un lenguaje claro y comprensible para facilitar la comunicación con el público. Las propuestas ganadoras incluyen una herramienta en línea para simplificar textos complejos, programas de capacitación en lenguaje claro para profesionales de la comunicación y la creación de recursos en formato multimedia que transmitan información de manera clara y atractiva.
                        </p>
                    </div>
                
                </div>

                <div class="col-lg-6">
                    <img src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/ICONOS/EVENTOS-18.png">
                </div>

                <div class="col-lg-6">
                    <img src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/ICONOS/EVENTOS-19.png">
                </div>

                <div class="col-lg-6 d-flex align-items-center">
                    <div>
                        <h3 class="text-left" style="color:#666!important">Ideathon - Mejora de Servicios Públicos</h3>
                    
                        <p style="font-size:18px;line-height:22px;">
                            El Ideathon se centró en generar ideas innovadoras para mejorar los servicios públicos. Las propuestas ganadoras consistieron en el desarrollo de una plataforma en línea para la gestión de casos judiciales, un sistema de resolución de disputas en línea y una aplicación móvil que brinde información legal clara y accesible a los ciudadanos.
                        </p>
                    </div>
                
                </div>

            </div>
        </div>
    </div>


    <!-- que es de un evento de innovacion-->
    <div class="section m-0">
        <div class="container py-6">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-7">

                    <div>
                        <p style="font-size:18px;line-height:22px;text-align:center">
                            Estos eventos de innovación proporcionaron un espacio para la generación de ideas creativas y soluciones prácticas en el ámbito de la justicia. Los ganadores de la primera edición presentaron propuestas destacadas que contribuyen a fortalecer la igualdad de género, mejorar los servicios públicos, promover la comunicación clara y facilitar el acceso a la justicia.
                        </p>
                        <p style="font-size:18px;line-height:22px;text-align:center">
                            Estos eventos se convirtieron en un punto de partida para implementar acciones concretas que generen un impacto positivo en el sector justicia, promoviendo la apertura, la transparencia y la eficiencia en beneficio de la sociedad en su conjunto.
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </div>

     <!-- premios >
    <div class="section m-0">
        <div class="container py-6">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-7">

                    <div style="text-align:justify">
                        <h3 class="text-center">Premios</h3>
                        <p style="font-size:18px;line-height:22px">
                            Los ganadores recibirán premios increíbles que ayudarán a llevar sus ideas al siguiente nivel. Pero recuerda, todos ganan al ser parte de esta experiencia de aprendizaje y crecimiento.
                            <br><br>
                            <div class="text-center">
                            <b style="font-size:21px">1er lugar - $500 + Acompañamiento técnico</b>
                            <br><br>
                            <b style="font-size:21px">2do lugar - Acompañamiento técnico</b>
                            <br><br>
                            <b style="font-size:21px">3er lugar - Acompañamiento técnico</b>
                            <br><br>
                            <b>Se brindarán diplomas de participación a los participantes</b>
                            </div>
                        </p>
                    </div>

                </div>

 
            </div>
        </div>
    </div>

 
    <div class="section m-0" style="background-color:#f1f5fd">
        <div class="container py-6">
            <div class="row align-items-center justify-content-center">
            
                <div class="col-lg-7">

                    <div style="text-align:justify">
                        <h3 class="text-center">Reglas y condiciones básicas</h3>
                        <p style="font-size:18px;line-height:22px">
                            1) <i>Respeto</i>: Todos los participantes deben tratar a los demás con dignidad y respeto. No se tolerará ninguna forma de discriminación, acoso o comportamiento inapropiado. Recordemos que la diversidad de pensamiento, antecedentes y experiencias enriquecen la innovación.
                            <br><br>
                            2) <i>Colaboración</i>: Se espera que los participantes trabajen de manera colaborativa con sus compañeros de equipo y otros participantes. La competencia amigable es bienvenida, pero el espíritu de estos eventos es colaborar para encontrar soluciones a los problemas planteados.
                            <br><br>
                            3) <i>Formulario de participación</i>: Para ser considerado en cualquiera de los eventos, es necesario completar el formulario de participación correspondiente. Todos los detalles del proyecto, incluyendo el nombre del equipo, los miembros y una descripción clara y detallada de la idea o solución, deben ser proporcionados.
                            <br><br>
                            4) <i>Licencia de uso para Prototipos</i>: Para garantizar que los prototipos y soluciones generados durante estos eventos puedan ser compartidos y utilizados de manera más amplia para beneficiar a la sociedad, todos los trabajos producidos serán licenciados bajo la Licencia Creative Commons Attribution-NonCommercial-ShareAlike (CC BY-NC-SA). Esta licencia permite a otros remixar, adaptar y construir sobre el trabajo no comercialmente, siempre y cuando den crédito al creador original y licencien sus nuevas creaciones bajo los mismos términos. Esto significa que otros pueden utilizar las soluciones y prototipos creados durante los eventos para el bien común, pero no para propósitos comerciales, a menos que obtengan una autorización directa del equipo creador.
                            <br><br>
                            <b>Participar en estos eventos de innovación significa aceptar estas reglas y licencia de uso. ¡Esperamos contar con tu presencia y ver las maravillosas soluciones que crearás!</b>
                        </p>
                    </div>

                </div>

                
            </div>
        </div>
    </div-- >

     <!-- registro >
    <div class="section m-0">
        <div class="container py-6">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-7">

                    <div style="text-align:justify">
                        <h3 class="text-center">Regístrate</h3>
                        <p style="font-size:18px;line-height:22px">¡No te pierdas esta increíble oportunidad! Las inscripciones están abiertas. ¡Únete a nosotros y juntos podemos innovar para un futuro mejor!</p>
                        <br>
                        <iframe height="1100" src="https://us06web.zoom.us/meeting/register/tZcvd-GrrjouG9QVWu144VSaEI3NRRSuolZO" title="Registrate"></iframe>
                    </div>

                </div>

            </div>
        </div>
    </div-->



{% endblock %}
