---
permalink: "eventosinnovacion2024/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Índice</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

    <!--SLIDER-->  

    <div class="section m-0 py-6" style="background-image:url('/ELEMENTOS/ELEMENTOS MEJORAS_JA/SLIDER/JA-18.png');background-repeat: no-repeat;background-size: 100% 100%;">
        <div class="container my-6">
            <div class="row my-6 py-6">
                <div class="col-lg-12 my-6">

                    <div class="my-6 py-6" style="text-align:center">
                        <img style="padding:25px" src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/ICONOS/edi.png">
                        <h3 class="text-white" style="font-size:35px">Eventos de Innovación 2024  – Sector Justicia</h3>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--CONTENIDO-->

     <!-- que es de un evento de innovacion-->
    <div class="section m-0">
        <div class="container py-6">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-7">

                    <div>
                        <h3 class="text-center">Eventos de Innovación – Sector Justicia</h3>
                        <p style="font-size:18px;line-height:22px;text-align:center">
                            Durante los eventos de innovación en el sector justicia, se presentaron diversas propuestas para abordar desafíos específicos y promover mejoras significativas.
                        </p>
                        <p style="font-size:18px;line-height:22px;text-align:center">
                            A continuación, se describe brevemente cada evento y las propuestas ganadoras de la segunda edición:
                        </p>
                    </div>

                </div>

                <!--div class="col-lg-6">

                    <div style="text-align:center">
                        <img src="/ELEMENTOS/08_GRAFICAS/JA_GRAFICA.png">
                    </div>

                </div-->
            </div>
        </div>
    </div>

    <!-- Eventos-->
    <div class="section m-0" style="background-color:#f1f5fd">
        <div class="container py-6">
            <div class="row ">
            
                <div class="col-lg-12">
                    <h2 class="text-left">Eventos de Innovación</h2>
                </div>
                
                <div class="col-lg-6">
                    <img src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/ICONOS/EVENTOS-17.png">
                </div>

                <div class="col-lg-6 d-flex align-items-center">
                    <div>
                        <h3 class="text-left" style="color:#666!important">Maratón de Soluciones</h3>
                    
                        <p style="font-size:18px;line-height:22px;">
                            El objetivo es desarrollar soluciones digitales que mejoren la eficiencia, accesibilidad y calidad de los servicios públicos en el sector justicia. Las propuestas pueden incluir aplicaciones móviles, plataformas en línea, herramientas de gestión de casos, entre otras innovaciones tecnológicas.
                        </p>

                        <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeW7t4FbptInJl9Vj4u3GTuHNAR76G5FgxO_ttOxS1VEacjqA/viewform" class="btn">Participa</a>
                    </div>
                </div>

                <div class="col-lg-6 d-flex align-items-center">
                    <div>
                        <h3 class="text-left" style="color:#666!important">Comunicathon – Desafío: Comunicar el Uso de Contrataciones Públicas en Justicia con el Estándar de OCDS</h3>
                    
                        <p style="font-size:18px;line-height:22px;">
                            Este desafío busca desarrollar estrategias y campañas de comunicación que informen a los ciudadanos sobre el uso de contrataciones públicas en el sector justicia, utilizando el Estándar de Datos para las Contrataciones Abiertas (OCDS). Las soluciones deben ser claras, accesibles y efectivas para aumentar la comprensión y el seguimiento de las contrataciones públicas.
                        </p>
                        <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeW7t4FbptInJl9Vj4u3GTuHNAR76G5FgxO_ttOxS1VEacjqA/viewform?usp=sf_link" class="btn">Participa</a>
                    </div>
                
                </div>

                <div class="col-lg-6">
                    <img src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/ICONOS/EVENTOS-18.png">
                </div>

                <div class="col-lg-6">
                    <img src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/ICONOS/EVENTOS-19.png">
                </div>

                <div class="col-lg-6 d-flex align-items-center">
                    <div>
                        <h3 class="text-left" style="color:#666!important">Ideathon de Datos Abiertos - Desafío: Innovación de Servicios Públicos en el Sector Justicia</h3>
                    
                        <p style="font-size:18px;line-height:22px;">
                            El objetivo es generar ideas que utilicen datos abiertos para innovar en los servicios públicos del sector justicia. Las propuestas deben enfocarse en mejorar la eficiencia y accesibilidad de estos servicios mediante el uso de datos disponibles públicamente.
                        </p>
                        <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeW7t4FbptInJl9Vj4u3GTuHNAR76G5FgxO_ttOxS1VEacjqA/viewform?usp=sf_link " class="btn">Participa</a>
                    </div>
                
                </div>

                <div class="col-lg-6 d-flex align-items-center">
                    <div>
                        <h3 class="text-left" style="color:#666!important">Maratón de Datos Abiertos - Desafío : Innovación de Servicios Públicos en el Sector Justicia</h3>
                    
                        <p style="font-size:18px;line-height:22px;">
                            El objetivo es analizar datos abiertos para desarrollar propuestas que innoven en los servicios públicos del sector justicia. Las soluciones deben mejorar la eficiencia y la accesibilidad mediante el uso de análisis de datos.
                        </p>
                        <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeW7t4FbptInJl9Vj4u3GTuHNAR76G5FgxO_ttOxS1VEacjqA/viewform?usp=sf_link" class="btn">Participa</a>
                    </div>
                
                </div>

                <div class="col-lg-6">
                    <img src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/ICONOS/EVENTOS-18.png">
                </div>

            </div>
        </div>
    </div>


    <!-- Resultados-->
    <div class="section m-0" style="background-color:#fff">
        <div class="container py-6">
            <div class="row ">
            
                <div class="col-lg-12">
                    <h2 class="text-left">Resultados de Eventos de Innovación</h2>
                </div>
                
                <div class="col-lg-6">
                    <img src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/ICONOS/EVENTOS-17.png">
                </div>

                <div class="col-lg-6 d-flex align-items-center">
                    <div>
                        <h3 class="text-left" style="color:#666!important">Maratón de Soluciones</h3>
                    
                        <p style="font-size:18px;line-height:22px;">
                            <b style="font-size:21px">Propuesta: Herramienta de Análisis de Datos Judiciales</b><br><br>
                            <ul class="listv3">
                                <li><strong>Descripción: </strong>Una herramienta que utiliza técnicas de análisis de datos para identificar patrones y tendencias en los datos judiciales.</li>
                                <li><strong>Funcionalidad: </strong>La herramienta permite a los usuarios visualizar estadísticas judiciales, realizar consultas personalizadas y generar informes detallados.</li>
                                <li><strong>Impacto: </strong>Facilita la toma de decisiones basadas en datos y mejora la eficiencia del sistema judicial.</li>
                            </ul>
                        </p>

                        
                    </div>
                </div>

                <div class="col-lg-6 d-flex align-items-center">
                    <div>
                        <h3 class="text-left" style="color:#666!important">Comunicathon – Desafío: Comunicar el Uso de Contrataciones Públicas en Justicia con el Estándar de OCDS</h3>
                    
                        <p style="font-size:18px;line-height:22px;">
                            <b style="font-size:21px">Propuesta 4: Talleres Educativos “Contrataciones Transparentes”</b><br><br>
                            <ul class="listv3">
                                <li><strong>Descripción: </strong>Organizar una serie de talleres educativos dirigidos a diferentes grupos de interés (ciudadanos, funcionarios públicos, periodistas, estudiantes) sobre el uso del estándar OCDS en las contrataciones públicas del sector justicia.</li>

                                <li><strong>Impacto Esperado:</strong>
                                    <ul class="listv2">
                                        <li>Capacitar a diversos grupos de interés en el uso y la interpretación de datos de contrataciones públicas.</li>
                                        <li>Promover la transparencia y la rendición de cuentas a través de una ciudadanía informada y capacitada.</li>
                                        <li>Fomentar la colaboración entre ciudadanos, funcionarios y expertos para mejorar la supervisión de las contrataciones públicas en el sector justicia.</li>
                                    </ul>
                                </li>
                            </ul>
                        </p>
                        
                    </div>
                
                </div>

                <div class="col-lg-6">
                    <img src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/ICONOS/EVENTOS-18.png">
                </div>

                <div class="col-lg-6">
                    <img src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/ICONOS/EVENTOS-19.png">
                </div>

                <div class="col-lg-6 d-flex align-items-center">
                    <div>
                        <h3 class="text-left" style="color:#666!important">Ideathon de Datos Abiertos - Desafío: Innovación de Servicios Públicos en el Sector Justicia</h3>
                    
                        <p style="font-size:18px;line-height:22px;">
                            <b style="font-size:21px">Propuesta 1: Uso de Inteligencia Artificial para la Predicción de Tendencias Judiciales</b><br><br>
                            <ul class="listv3">
                                <li><strong>Descripción: </strong>Un sistema que utiliza algoritmos de inteligencia artificial para analizar datos judiciales y predecir tendencias y patrones futuros.</li>
                                <li><strong>Funcionalidad: </strong>El sistema proporciona predicciones sobre la duración de los casos, la probabilidad de resultados específicos y otros indicadores relevantes.</li>
                                <li><strong>Impacto: </strong>Mejora la planificación y la toma de decisiones en el sistema judicial.</li>
                            </ul>
                        </p>
                    </div>
                
                </div>

                <div class="col-lg-6 d-flex align-items-center">
                    <div>
                        <h3 class="text-left" style="color:#666!important">Maratón de Datos Abiertos - Desafío : Innovación de Servicios Públicos en el Sector Justicia</h3>
                    
                        <p style="font-size:18px;line-height:22px;">
                            <b style="font-size:21px">Propuesta 3: Sistema de Alertas y Notificaciones Basadas en Datos Abiertos</b><br><br>
                            <ul class="listv3">
                                <li><strong>Descripción: </strong>Un sistema que envía alertas y notificaciones a los usuarios sobre eventos judiciales relevantes, basándose en datos abiertos.</li>
                                <li><strong>Funcionalidad: </strong>Los usuarios pueden configurar alertas personalizadas para recibir notificaciones sobre audiencias, fallos y otros eventos judiciales de interés.</li>
                                <li><strong>Impacto: </strong>Mejora la accesibilidad y el seguimiento de la información judicial por parte de los ciudadanos.</li>
                            </ul>
                        </p>
                    </div>
                
                </div>

                <div class="col-lg-6">
                    <img src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/ICONOS/EVENTOS-18.png">
                </div>

            </div>
        </div>
    </div>


{% endblock %}
