---
pagination:
  data: collections.proyectos
  size: 12
  alias: proyectos
permalink: "hackdash/page-{{ pagination.pageNumber + 1}}/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Hackdash Justicia Abierta | Red Ciudadana</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}
    <div class="section m-0 py-6" style="background-image:url('/ELEMENTOS/ELEMENTOS MEJORAS_JA/SLIDER/JA-18.png');background-repeat: no-repeat;background-size: 100% 100%;">
        <div class="container">
            <div class="row my-6 py-6">
                <div class="col-lg-12">

                    <div class="my-6" style="text-align:center">
                        <img style="padding:25px;" src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/ICONOS/JA-26.png">
                        <h3 class="text-white" style="font-size:35px">Hackdash</h3>
                        <p class="text-white">Te invitamos a filtrar y encontrar proyectos
                        </p>
                        <br>
                        <div class="d-flex justify-content-center">
                            <a class="btn mr-1" href="/nuevoproyecto/index.html">Crear nuevo proyecto</a>
                            <a class="btn" href="/prop_data.json" target="_blank">Datos Abiertos</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

     <!-- proyectos -->
    <div class="section my-6">
        <div class="container">
            <div class="row ">

                {% set cuenta = 0 %}
                {% for proyecto in collections.proyectos%}
                {% set cuenta = cuenta + 1 %}
                {% endfor %}

                

                <div class="col-lg-12 my-4 text-center"> 
                    
                    {% if cuenta == 1%}
                    <h3>Tenemos <span class="conteo">{{cuenta}}</span> Proyecto</h3>
                    {% endif %}
                    {% if cuenta != 1%}
                    <h3>Tenemos <span class="conteo">{{cuenta}}</span> Proyectos</h3>
                    {% endif %}
                    <h5>Te invitamos a filtrar y encontrar proyectos
                    </h5>
                </div>
                

                <div class="col-lg-12 my-4"> 
                    <!--coleccion de filtros-->
                    <div class="row">
                        {% for categoria in collections.categorias %}
                        <a href="{{categoria.url}}" class="filtros2 my-1">{{categoria.data.title}}</a>
                        {% endfor %}
                    </div>
                </div>

                {% for proyecto in proyectos %}
                    {% if proyecto.data.proyectos.encuentro == "Si" %}

                    <div class="col-lg-4 my-4">
                        <div class="cuadro_propuesta3">
                            <div class="tags">
                                <a href="/categorias/{{proyecto.data.proyectos.categoria | slug}}" class="filtros">{{proyecto.data.proyectos.categoria}}</a>
                            </div>
                            <div class="numero_propuesta">
                                <p>propuesta N.{{proyecto.data.proyectos.numero_propuesta}}</p>
                            </div>
                            <div class="contenido">
                                <h5>{{proyecto.data.proyectos.titulo}}</h5>
                                <p>{{proyecto.data.proyectos.resumen}}</p>
                            </div>
                            <div class="bottom bottom2">
                                <!--div class="candidaturas">
                                    <h4>4</h4>
                                    <span>candidatura(s) comprometida(s)</span>
                                </div>
                                <div class="ciudadanos">
                                    <h4>20</h4>
                                    <span>apoyo(s) ciudadano(s)</span>
                                </div-->
                                <div class="botones_finales">
                                    <!--a href="#" class="apoyar"><i class="fa-solid fa-heart" style="margin-right:4px"></i>Apoyar</a-->
                                    <a href="{{proyecto.url}}" class="vermas2">Leer más</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endif %}

                    {% if proyecto.data.proyectos.encuentro == "No" %}

                    <div class="col-lg-4 my-4">
                        <div class="cuadro_propuesta3">
                            <div class="tags">
                                <a href="/categorias/{{proyecto.data.proyectos.categoria | slug}}" class="filtros">{{proyecto.data.proyectos.categoria}}</a>
                            </div>
                            <div class="numero_propuesta">
                                <p>propuesta N.{{proyecto.data.proyectos.numero_propuesta}}</p>
                            </div>
                            <div class="contenido">
                                <h5>{{proyecto.data.proyectos.titulo}}</h5>
                                <p>{{proyecto.data.proyectos.resumen}}</p>
                            </div>
                            <div class="bottom bottom2">
                                <!--div class="candidaturas">
                                    <h4>4</h4>
                                    <span>candidatura(s) comprometida(s)</span>
                                </div>
                                <div class="ciudadanos">
                                    <h4>20</h4>
                                    <span>apoyo(s) ciudadano(s)</span>
                                </div-->
                                <div class="botones_finales">
                                    <!--a href="#" class="apoyar"><i class="fa-solid fa-heart" style="margin-right:4px"></i>Apoyar</a-->
                                    <a href="{{proyecto.url}}" class="vermas2">Leer más</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endif %}

                {% endfor %}

                <div class="col-lg-12">
                    <div class="row justify-content-center">
                        <div class="pagination my-4">
                            <ul>
                                <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">←</a>{% else %}<a style="pointer-events:none" href="{{ pagination.href.previous }}">←</a>{% endif %}</li>

                                
                                {%- for pageEntry in pagination.pages %}

                                <li><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{ loop.index }}</a></li>
                                {%- endfor %}
                                
                                
                                <li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">→</a>{% else %}<a style="pointer-events:none" href="{{ pagination.href.next }}">→</a>{% endif %}</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    
{% endblock %}