---
permalink: "indice/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Índice de Justicia Abierta</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

    <!--SLIDER-->  


    <div class="section m-0 py-6" style="background-image:url('/ELEMENTOS/ELEMENTOS MEJORAS_JA/SLIDER/JA-18.png');background-repeat: no-repeat;background-size: 100% 100%;">
        <div class="container my-6">
            <div class="row my-6 py-6">
                <div class="col-lg-12 my-6">

                    <div class="my-6 py-6" style="text-align:center">
                        <img style="padding:25px" src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/ICONOS/med.png">
                        <h3 class="text-white" style="font-size:35px">Índice de Justicia Abierta (IJA)</h3>

                    </div>

                </div>
            </div>
        </div>
    </div>


    <!--CONTENIDO-->

     <!-- que es de Justicia Abierta-->
    <div class="section m-0">
        <div class="container ">
            <div class="row align-items-center">
                <div class="col-lg-6">

                    <div style="text-align:justify">
                        <h3>¿Qué es el Índice de Justicia Abierta (IJA)?</h3>
                        <p style="font-size:18px;line-height:22px">
                            El Índice de Justicia Abierta es una herramienta diseñada para evaluar el nivel de apertura y transparencia en el sistema judicial.
                            <br><br> Esta medición se basa en una serie de indicadores y criterios que abarcan aspectos como el acceso a la información pública, la participación ciudadana, la rendición de cuentas y la integridad en el sector de la justicia. A través del IJA, se busca identificar fortalezas y debilidades en el sistema y proporcionar recomendaciones para mejorar la apertura y transparencia.
                        </p>
                        <a href="https://publicaciones.redciudadana.org/2023/Metodologia_IJA.pdf" class="btn">Descargar la Metodología</a>

                    </div>

                </div>

                <div class="col-lg-6">

                    <div style="text-align:center">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/K8lrfKuDwIc?si=rTzeVv8daH-MKKq1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Metodología-->

    <div class="section m-0">
        <div class="container my-6">
            <div class="row">
                <div class="col-xl-12 my-4 text-center">

                    <h1>Metodología del Índice de Justicia Abierta (IJA)</h1>
                    <h6>El Índice de Justicia Abierta (IJA) utiliza una metodología integral para evaluar el nivel de apertura y transparencia en el sector de justicia. A continuación, se describe la metodología utilizada, considerando los métodos de recolección de información y el proceso de puntuación:
                    </h6>

                </div>
            </div>

            <div class="row">

                <a href="" class="col-lg-4 d-flex justify-coontent-center" style="flex-direction:column;align-items:center">
                    <img src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/IJA-32.png" style="width:250px" class="m-4">
                    <h3 class="text-center" style="height:55px">Acceso a la Información Pública</h3>
                </a>

                <a href="" class="col-lg-4 d-flex justify-coontent-center" style="flex-direction:column;align-items:center">
                    <img src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/IJA-33.png" style="width:250px" class="m-4">
                    <h3 class="text-center" style="height:55px">Grupos Focales con Sociedad Civil</h3>
                </a>

                <a href="" class="col-lg-4 d-flex justify-coontent-center" style="flex-direction:column;align-items:center">
                    <img src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/IJA-34.png" style="width:250px" class="m-4">
                    <h3 class="text-center" style="height:55px">Usuario Simulado</h3>
                </a>

            </div>
        </div>
    </div>


    <!-- Ciclo de Justicia Abierta-->
    <div class="section m-0" >
        <div class="container my-6">
            <div class="row">
                <div class="col-xl-12 text-center">

                    <h1>Resultados del Justicia Abierta (IJA)</h1>
                    <h6>Los resultados del Índice de Justicia Abierta (IJA) proporcionan una evaluación integral del nivel de apertura y transparencia en el sector de justicia. A continuación, se presentan los resultados obtenidos a partir de la evaluación de las instituciones participantes:
                    </h6>

                </div>
            </div>

            <div class="row py-4 my-4 justify-content-center">

                <div class="col-lg-6">
                    <div class="cuadro_inicio bg-white h-100">
                        <img src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/TABLA_35-35.png">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="cuadro_inicio bg-white h-100">
                        <img src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/IJA-31.png">
                    </div>
                </div>

            </div>

            <div class="row justify-content-center">
                <div class="col-lg-3">
                    <a href="https://publicaciones.redciudadana.org/2023/Resultados_IJA.pdf" class="btn">Descargar el Índice</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
