---
permalink: "indice2/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Índice de Datos Abiertos</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

    <div class="section m-0 py-6" style="background-image:url('/ELEMENTOS/ELEMENTOS MEJORAS_JA/SLIDER/JA-18.png');background-repeat: no-repeat;background-size: 100% 100%;">
        <div class="container my-6">
            <div class="row my-6 py-6">
                <div class="col-lg-12 my-6">

                    <div class="my-6 py-6" style="text-align:center">
                        <img style="padding:25px" src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/ICONOS/med.png">
                        <h3 class="text-white" style="font-size:35px">Índice de Datos Abiertos (IDA)</h3>

                    </div>

                </div>
            </div>
        </div>
    </div> 


    <!--CONTENIDO-->

     <!-- que es de Justicia Abierta-->
    <div class="section m-0">
        <div class="container py-6">
            <div class="row align-items-center">
                <div class="col-lg-6">

                    <div style="text-align:justify">
                        <h3>¿Qué es el Índice de Datos Abiertos del Sector Justicia (IDA)?</h3>
                        <p style="font-size:18px;line-height:22px">
                            El Índice de Datos Abiertos del Sector Justicia (IDA) es una herramienta diseñada para evaluar el
                            nivel de apertura y disponibilidad de datos en el sector de justicia. Su objetivo principal es
                            promover la transparencia y la rendición de cuentas al permitir el acceso público a la información
                            relevante del sistema judicial. El IDA busca fomentar la apertura de datos en áreas clave como la
                            legislación, los casos judiciales, la gestión administrativa y los recursos humanos, entre otros.
                        </p>
                    </div>

                </div>

                <div class="col-lg-6">

                    <div style="text-align:center">
                        <img src="/ELEMENTOS/08_GRAFICAS/JA_GRAFICA.png">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Metodología-->
    <div class="section m-0" style="background-color:#f1f5fd">
        <div class="container py-6">
            <div class="row align-items-center">
            
                <div class="col-lg-6">

                    <div style="text-align:justify">
                        <h3>Metodología del Índice de Datos Abiertos del Sector Justicia (IDA)</h3>
                        <p style="font-size:18px;line-height:22px">
                            La metodología del IDA se basa en un enfoque integral que combina la recolección de datos, el
                            análisis y la puntuación de los indicadores pertinentes. A continuación, se describen los principales
                            componentes de su metodología:
                        </p>
                        <ol style="margin-left:20px">
                            <li style="list-style:auto">Identificación de indicadores</li>
                            <li style="list-style:auto">Recolección de datos</li>
                            <li style="list-style:auto">Análisis y puntuación</li>
                        </ol>
                    </div>

                </div>

                <div class="col-lg-6">

                    <div style="text-align:center">
                        <img src="/ELEMENTOS/08_GRAFICAS/JA_GRAFICA.png">
                    </div>

                </div>
                
            </div>
        </div>
    </div>


    <!-- Ciclo de Justicia Abierta-->
    <div class="section m-0" >
        <div class="container my-6">
            <div class="row">
                <div class="col-xl-12 text-center">

                    <h1>Resultados del Índice de Datos Abiertos del Sector Justicia (IDA)</h1>
                    <h6>Los resultados del IDA ofrecen una visión clara y comparativa del nivel de apertura de datos en el
                        sector de justicia. Estos resultados permiten identificar fortalezas y debilidades en la disponibilidad
                        de datos, así como áreas de mejora para promover una mayor transparencia y rendición de
                        cuentas.
                        A través del IDA, se puede obtener información relevante sobre el grado de cumplimiento de los
                        estándares de datos abiertos en cada jurisdicción evaluada. Esto facilita la identificación de buenas
                        prácticas y la generación de recomendaciones específicas para mejorar la apertura de datos en el
                        sector de justicia.
                    </h6>

                </div>
            </div>

            <div class="row py-4 my-4">

                <div class="col-lg-6">
                    <div class="cuadro_inicio bg-white h-100">
                        <img src="/ELEMENTOS/08_GRAFICAS/JA_GRAFICA.png">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="cuadro_inicio bg-white h-100">
                        <img src="/ELEMENTOS/08_GRAFICAS/JA-12.png">
                    </div>
                </div>

            </div>

            <div class="row justify-content-center">
                <div class="col-lg-3">
                    <a href="" class="btn">Descargar el Índice</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
