---
permalink: iniciativas/index.html
---
{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Iniciativas</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

    <!--SLIDER-->  
    <div class="section m-0 py-6" style="background-image:url('/ELEMENTOS/ELEMENTOS MEJORAS_JA/SLIDER SECCIONES/JA-29.png');background-repeat: no-repeat;background-size: 100% 100%;">
        <div class="container my-6">
            <div class="row my-6 py-6">
                <div class="col-lg-12 my-6">

                    <div class="my-6 py-6" style="text-align:center">
                        <h3 class="text-white" style="font-size:35px">Iniciativas</h3>
                    </div>

                </div>
            </div>
        </div>
    </div>

     <!-- Ciclo de Justicia Abierta-->
    <div class="section m-0" >
        <div class="container my-6">
            <div class="row">
                
                {% for iniciativa in collections.iniciativas %}
                <div class="col-lg-4 my-4">
                    <div class="cuadro_iniciativas">
                        <img style="height:220px; width:100%" src="{{iniciativa.data.image}}">
                        <div class="texto_cuadro">
                            <h3>{{iniciativa.data.title}}</h3>
                            <p>{{iniciativa.data.description}}</p>
                            <br>
                            <a href="{{iniciativa.url}}" class="ver_todo">Más info</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}
