---
permalink: "/monitoreo_y_alerta/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Monitoreo y Alerta Temprana sobre Violencia de Género</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}
    <div class="section m-0 p-0" style="background-image:url('/ELEMENTOS/ELEMENTOS MEJORAS_JA/SLIDER/JA-18.png');background-repeat: no-repeat;background-size: 100% 100%;">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6 d-flex" style="align-items:center">
                    <div class="my-6" style="text-align:left">
                        <h3 class="text-white notranslate" style="font-size:40px; margin-bottom:5px">Sistema de Monitoreo y Alerta Temprana sobre Violencia de Género</h3>
                        <h3 class="text-white" style="font-size:24px;font-weight:400;line-height:32px">Un enfoque proactivo para la prevención y respuesta a la violencia de género en Guatemala</h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="" style="text-align:center">
                        <img style="" src="/ELEMENTOS/SLIDER/JA_VM-04.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Seccion -->
    <div class="section m-0" style="background-color:#f1f5fd">
        <div class="container py-6">
            <div class="row ">

                <div class="col-lg-6 my-4 d-flex align-items-center">
                    <div>
                        <h3 class="text-left" style="color:#666!important">¿Qué es?</h3>

                        <p style="font-size:18px;line-height:22px;">
                            El <b>Sistema de Monitoreo y Alerta Temprana sobre Violencia de Género</b> es una plataforma tecnológica diseñada para recopilar y analizar datos abiertos y reportes ciudadanos con el fin de identificar patrones y tendencias de violencia de género en tiempo real. Este sistema permite la activación de alertas tempranas y facilita la coordinación de respuestas rápidas, proporcionando una herramienta vital para la prevención y reducción de la violencia de género en Guatemala.
                        </p>

     
                    </div>
                </div>

                <div class="col-lg-6 ">
                    <img src="/ELEMENTOS/NUEVOS ELEMENTOS/JA_VM-05.png">
                </div>

                <div class="col-lg-12 my-5  align-items-center">
                    <h3 class="text-center">Metodología</h3>
                    <p class="text-center" style="font-size:18px;line-height:22px;">
                        El sistema se basa en una metodología integral que incluye las siguientes fases:
                    </p>
                </div>
                <div class="col-lg-12 my-4">
                    <div class="row">
                        <div class="col-lg-3 my-4 text-center mx-auto">
                            <img style="width: 100px;height: 100px;" src="/ELEMENTOS/NUEVOS ELEMENTOS/JA_VM-06.png">
                            <h3>Recopilación de Datos</h3>
                            <p>Se obtienen datos de diversas fuentes, incluyendo bases de datos abiertas, reportes ciudadanos y registros institucionales de casos de violencia de género.</p>
                        </div>

                        <div class="col-lg-3 my-4 text-center mx-auto">
                            <img style="width: 100px;height: 100px;" src="/ELEMENTOS/NUEVOS ELEMENTOS/JA_VM-07.png">
                            <h3>Análisis de Datos</h3>
                            <p>Utilizando tecnologías avanzadas de análisis de datos y algoritmos de aprendizaje automático, se identifican patrones y tendencias de violencia de género.</p>
                        </div>

                        <div class="col-lg-3 my-4 text-center mx-auto">
                            <img style="width: 100px;height: 100px;" src="/ELEMENTOS/NUEVOS ELEMENTOS/JA_VM-08.png">
                            <h3>Activación de Alertas Tempranas</h3>
                            <p>Con base en los criterios predefinidos, el sistema genera alertas tempranas que son enviadas a las autoridades y organizaciones de apoyo para una respuesta inmediata.</p>
                        </div>

                        <div class="col-lg-3 my-4 text-center mx-auto">
                            <img style="width: 100px;height: 100px;" src="/ELEMENTOS/NUEVOS ELEMENTOS/JA_VM-09.png">
                            <h3>Monitoreo Continuo</h3>
                            <p>El sistema realiza un seguimiento constante de los datos y ajusta los parámetros de alerta según sea necesario para mejorar la precisión y eficacia de la detección.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 justify-content-center m-auto my-4">
                    <div class="flourish-embed" data-src="story/2462421"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascripts %}


{% endblock %}
