---
permalink: normas-explicadas/index.html
---
{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Glosario Jurídico</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}
    <div class="section m-0 py-6" style="background-image:url('/ELEMENTOS/ELEMENTOS MEJORAS_JA/SLIDER/JA-18.png');background-repeat: no-repeat;background-size: 100% 100%;">
        <div class="container">
            <div class="row my-6 py-6">
                <div class="col-lg-6 d-flex" style="align-items:center">
                    <div class="my-6" style="text-align:left">
                        <h3 class="text-white notranslate" style="font-size:40px; margin-bottom:5px">Normas Explicadas del Lenguaje Claro</h3>
                        <h3 class="text-white" style="font-size:24px;font-weight:400;line-height:32px">Normas Explicadas</h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="my-6" style="text-align:center">
                        <img style="padding:15px" src="/ELEMENTOS/ELEMENTOS WEB/01_SLIDER/SLIDER_02.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Seccion -->
    <div class="section m-0" style="background-color:#f1f5fd">
        <div class="container py-6">
            <div class="row ">
            
                <div class="col-lg-12 my-4">
                    <div class="row">
                        <h2 class="text-left">Normas Explicadas</h2>
                        <br>
                        {% for normas in collections.normas_explicadas%}
                        <div class="col-lg-12 d-flex my-4">
                            <div class="row">
                                <div class="col-lg-3 p-0">
                                    <img src="/ELEMENTOS/08_GRAFICAS/placeholder.png">
                                </div>
                                <div class="col-lg-9 p-0">
                                    <div class="mx-4">
                                        <h4 class="text-left">{{normas.data.title}}</h4>
                                        <p class="text-justify mt-4"><strong>¿Qué es? </strong></p>
                                        <ul style="margin-left: 15px;">
                                            <li class="text-justify" style="list-style: disc;">{{normas.data.descripcion}}</li>
                                        </ul>
                                        <p class="text-justify mt-4"><strong>¿Para qué sirve? </strong></p>
                                        <ul style="margin-left: 15px;">
                                            <li class="text-justify" style="list-style: disc;">{{normas.data.paraque}}</li>
                                        </ul>
                                        <p class="text-justify mt-4"><strong>¿Quiénes tienen la obligación? </strong></p>
                                        <ul style="margin-left: 15px;">
                                            <li class="text-justify" style="list-style: disc;">{{normas.data.quienes}}</li>
                                        </ul>
                                        <a class="btn mt-4" href="{{normas.data.referencia}}">Norma</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}