---
pagination:
  data: proyectos
  size: 1
  alias: proyectos
  addAllPagesToCollections: true
permalink: "proyectos/{{proyectos.numero_propuesta}}/{{proyectos.titulo | slug | sub_string}}/index.html"
tags:
  - proyectos
---
{% extends "src/base.njk" %}

{% block head %}
    <title>{{ proyectos.titulo }}</title>

    <link rel="stylesheet" href="/css/animate.min.css" />
    <link rel="stylesheet" href="/css/mainvendor.css" />
{% endblock %}

{% block content %}
    <div class="height-86"></div>
    <div class="page-content mb-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-11 col-lg-12 m-auto">
                    <div class="row">
                        
                        <div class="col-lg-3 primary-sidebar sticky-sidebar pt-50 px-1">
                            <div class="widget-area">
                                
                                <div class="sidebar-widget widget-category-2 mb-50">
                                    <h5 class="section-title style-1 mb-30">Detalles de Proyecto</h5>
                                    <ul class="list" style="border: none!important;">
                                        <li>           
                                            <a href="#"> <img style="width:30px;height:30px" src="/ELEMENTOS/PROPUESTAS JA_02-15.png" alt="" />Categoría: {{ proyectos.categoria }}</a>
                                        </li>
                          
                                        <!--li>
                                            <a style="pointer-events:none" href="#"> <img style="width:30px;height:30px" src="/assets/01_ICONOS/PROPUESTAS JA_02-18.png" alt="" />Plazo: {{tiempo}}</a>
                                        </li-->
                                        <li>
                                            <a style="pointer-events:none" href="#"> <img style="width:24px;height:30px;margin-right:23px" src="/ELEMENTOS/ICONO.png" alt="" />Ubicación: {{ proyectos.departamento }}</a>
                                        </li>
                            
                                        
                                        <li>
                                            <a style="pointer-events:none" href="#"> <img style="width:30px;height:30px" src="/ELEMENTOS/PROPUESTAS JA_02-17.png" alt="" />¿Este proyecto es producto de un Evento de Innovación?: {{ proyectos.encuentro }}</a>
                                        </li>
                                        

                                        <li>
                                            <a style="pointer-events:none" href="#"> Proyecto propuesto por: {{ proyectos.Nombre }}</a>
                                        </li>

                                    </ul>
                                </div>


                            </div>
                        </div>
                        
                        <div class="col-lg-9 px-2">
                            <div class="single-page pt-50 pl-30">
                                <div class="single-header style-2">
                                    <div class="row">
                                        <div class="col-xl-10 col-lg-12 m-auto">
                                            <h6 class="mb-10 text-left"><a href="#">Propuesta</a></h6>
                                            <h2 class="mb-10">{{ proyectos.titulo }}</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-content">
                                    <div class="row">
                                        <div class="col-xl-10 col-lg-12 m-auto texto-servicio">
                                            <h4 class="text-left">El Problema</h4>
                                            <p>{{ proyectos.problema | rmj |safe}}</p>
                                            <div class="linea_azul"></div>
                                            <h4 class="text-left">Dirigido hacia</h4>
                                            <p>{{proyectos.dirigido | rmj |safe}}</p>
                                            <div class="linea_azul"></div>
                                            <h4 class="text-left">Solución Propuesta</h4>
                                            <p>{{proyectos.resumen | rmj |safe}}</p>
                                            <div class="linea_azul"></div>
                                            <h4 class="text-left">Avances</h4>
                                            <p>{{proyectos.avances | rmj |safe}}</p>

                                            <div class="linea_azul"></div>
                                            <h4 class="text-left">Video del Prototipo</h4>
                                            <br>
                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/gU6sa65YEeM?si=ombFuruaj0OsJ2fd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                            
                                            <div class="linea_azul"></div>
                                            <div class="d-flex">
                                                <a class="btn mb-20 mr-1" href="https://redciudadana.org/" target="_blank">Recursos</a>
                                                <a class="btn mb-20" href="#" target="_blank">Solicitar Mentoría</a>
                                            </div>
                                            
                                            <!--Comment form-->
                                            <div class="comment-form ">
                                                <!--DISQUSS-->
                                                
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
