---
permalink: publicaciones/index.html
---
{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Contacto</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

    <!--SLIDER-->  
    <div class="w-100" style="background-color: #016be3">
      <div class="container py-5" style="padding-bottom: 0.2rem!important;">
        <div class="row mx-auto" style="justify-content:center;display: block!important;margin: 2rem 0;">
          <div class="img-circular">
            <img  src="/ELEMENTOS/ELEMENTOS WEB/03_ICONOS/ICONOS-29.png">  
          </div>
          <h1 style="color: #fff!important;text-align: center;">Publicaciones</h1>
        </div>
      </div>
    </div>  
     <!-- event-area-start -->
      <div class="event-area pt-60 pb-130">
          <div class="container">


              <div class="event-bg event-bg-03 pos-rel mb-30">
                  <div class="row">
                      <div class="col-xl-6 col-lg-6">
                          <div class="event-img mb-20 d-flex justify-content-center">
                              <a href="events-details.html" style="width:60%"><img style="height:auto" src="https://d33wubrfki0l68.cloudfront.net/c299bcde260615aaebfcd0d70684268d2d3ad421/93e98/assets/img/lab-gray.png" alt=""></a>
                          </div>
                      </div>
                      <div class="col-xl-6 col-lg-6">
                          <div class="event-wrapper mb-20 ">
                              <div class="event-text">
                                  <span><i class="far fa-map-marked-alt verdeo"></i> Guatemala - 11 de Agosto 2021</span>
                                  <h3><a href="events-details.html">Un acercamiento a la Justicia Abierta en Guatemala</a></h3>
                              </div>
                              <div class="event-meta">
                                  <span><i class="far fa-user-circle"></i>Lorem ipsum dolor sit amet, et laboramus constituto usu. Vim cu augue aeque. Sed ut solet evertitur, id eum dolorem principes dissentiet. Lorem assueverit qui no, summo dictas at sit.</span>
                              </div><br>
                              <div class="cta-content">

                                  <div class="cta-button">
                                      <a class="btn" href="https://bit.ly/JusticiaAbiertaGT">Descargar <i class="far fa-long-arrow-right"></i></a>
                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>
              </div>



              <div class="event-bg event-bg-03 pos-rel mb-30">
                  <div class="row">
                      <div class="col-xl-6 col-lg-6">
                          <div class="event-img mb-20 d-flex justify-content-center">
                              <a href="events-details.html" style="width:60%"><img style="height:auto" src="https://d33wubrfki0l68.cloudfront.net/c299bcde260615aaebfcd0d70684268d2d3ad421/93e98/assets/img/lab-gray.png" alt=""></a>
                          </div>
                      </div>
                      <div class="col-xl-6 col-lg-6">
                          <div class="event-wrapper mb-20 ">
                              <div class="event-text">
                                  <span><i class="far fa-map-marked-alt verdeo"></i> Guatemala - 8 de Septiembre 2021</span>
                                  <h3><a href="events-details.html"> índice de datos abiertos del sector justicia</a></h3>
                              </div>
                              <div class="event-meta">
                                  <span><i class="far fa-user-circle"></i>Lorem ipsum dolor sit amet, et laboramus constituto usu. Vim cu augue aeque. Sed ut solet evertitur, id eum dolorem principes dissentiet. Lorem assueverit qui no, summo dictas at sit.</span>
                              </div><br>
                              <div class="cta-content">

                                  <div class="cta-button">
                                      <a class="btn" href="causes-details.html">Descargar <i class="far fa-long-arrow-right"></i></a>
                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>
              </div>






          </div>
      </div>
      <!-- event-area-end -->

{% endblock %}
